<a href="https://colab.research.google.com/github/Maheswarisv/Data_Analysis_using_python/blob/Netflix_data_analysis/Netflix_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
/content/drive/MyDrive/data_analysis_using_python/netflix_titles_nov_2019.csv

In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import os

In [111]:
df= pd.read_csv('/content/drive/MyDrive/data_analysis_using_python/netflix_titles_nov_2019.csv')

In [22]:
df

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type
0,81193313,Chocolate,NaN,"Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...",South Korea,"November 30, 2019",2019,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",Brought together by meaningful meals in the pa...,TV Show
1,81197050,Guatemala: Heart of the Mayan World,"Luis Ara, Ignacio Jaunsolo",Christian Morales,NaN,"November 30, 2019",2019,TV-G,67 min,"Documentaries, International Movies","From Sierra de las Minas to Esquipulas, explor...",Movie
2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,"November 30, 2019",2019,TV-14,135 min,"Comedies, Dramas, International Movies",A goofy copywriter unwittingly convinces the I...,Movie
3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","France, Senegal, Belgium","November 29, 2019",2019,TV-14,106 min,"Dramas, Independent Movies, International Movies","Arranged to marry a rich man, young Ada is cru...",Movie
4,80213643,Chip and Potato,NaN,"Abigail Oliver, Andrea Libman, Briana Buckmast...","Canada, United Kingdom",NaN,2019,TV-Y,2 Seasons,Kids' TV,"Lovable pug Chip starts kindergarten, makes ne...",TV Show
...,...,...,...,...,...,...,...,...,...,...,...,...
5832,70141644,Mad Ron's Prevues from Hell,Jim Monaco,"Nick Pawlow, Jordu Schell, Jay Kushwara, Micha...",United States,"November 1, 2010",1987,NR,84 min,"Cult Movies, Horror Movies","This collection cherry-picks trailers, forgott...",Movie
5833,70127998,Splatter,Joe Dante,"Corey Feldman, Tony Todd, Tara Leigh, Erin Way...",United States,"November 18, 2009",2009,TV-14,29 min,Horror Movies,"After committing suicide, a washed-up rocker r...",Movie
5834,70084180,Just Another Love Story,Ole Bornedal,"Anders W. Berthelsen, Rebecka Hemse, Nikolaj L...",Denmark,"May 5, 2009",2007,NR,104 min,"Dramas, International Movies",When he causes a car accident that leaves a yo...,Movie
5835,70157452,Dinner for Five,NaN,NaN,United States,"February 4, 2008",2007,TV-MA,1 Season,Stand-Up Comedy & Talk Shows,"In each episode, four celebrities join host Jo...",TV Show
5836,70053412,To and From New York,Sorin Dan Mihalcescu,"Barbara King, Shaana Diya, John Krisiukenas, Y...",United States,"January 1, 2008",2006,NR,81 min,"Dramas, Independent Movies, Thrillers","While covering a story in New York City, a Sea...",Movie

In [112]:
dups= df.duplicated(['title','country','type','release_year'])
df[dups]

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type
1134,80175351,Kakegurui,NaN,"Saori Hayami, Minami Tanaka, Tatsuya Tokutake,...",Japan,NaN,2019,TV-14,2 Seasons,"Anime Series, International TV Shows, TV Thril...",High roller Yumeko Jabami plans to clean house...,TV Show
1741,81072516,Sarkar,A.R. Murugadoss,"Vijay, Varalakshmi Sarathkumar, Keerthi Suresh...",India,"March 2, 2019",2018,TV-MA,162 min,"Action & Adventure, Dramas, International Movies",A ruthless businessman’s mission to expose ele...,Movie

## removed duplicates

In [114]:
df=df.drop_duplicates(['title','country','type','release_year'])
dups= df.duplicated(['title','country','type','release_year'])
df[dups]
df_nodup=df

In [115]:
df_rm_id=df_nodup.drop('show_id',axis=1)

In [116]:
df_rm_id_Ind=df_rm_id.reset_index()

In [ ]:
df_rm_id_Ind

create a collumn for no. of cast

In [124]:
df_rm_id_Ind['cast']=df_rm_id_Ind['cast'].replace(np.nan,'Unknown')
def cast_counter(cast):
    if cast=='Unknown':
        return 0
    else:
        lst=cast.split(', ')
        length=len(lst)
        return length
df_rm_id_Ind['number_of_cast']=df_rm_id_Ind['cast'].apply(cast_counter)
df_rm_id_Ind['cast']=df_rm_id_Ind['cast'].replace('Unknown',np.nan)
df_castcount = df_rm_id_Ind

In [126]:
df_castcount['rating'] = df_castcount['rating'].fillna(df_castcount['rating'].mode()[0])
df_rtng = df_castcount

In [98]:
# df['date_added']=df['date_added'].fillna('January 1, {}'.format(str(df['release_year']+1)))

In [127]:
df_rtng['date_added'] = df_rtng['date_added'].mask(df_rtng['date_added'].isna(), 'January 1, '+(df_rtng['release_year']+1).astype(str))
df_datefxd = df_rtng

In [130]:
for i , j in zip(df_datefxd['country'].values,df_datefxd.index):
  if i== np.nan:
    if('anime'in df_datefxd.loc[j,'Listed_in']) or ('Anime' in df_datefxd.loc[j,Listed_in]):
      df_datefxd.loc[j,'country']='Japan'
    else:
      continue
  else:
    continue
df_cntryfxd = df_datefxd

In [131]:
# r_df= df_cntryfxd[df_cntryfxd['country']=='Japan']
r_df

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type,number_of_cast
17,80156799,Levius,NaN,"Nobunaga Shimazaki, Junichi Suwabe, Takahiro S...",Japan,"November 28, 2019",2019,TV-14,1 Season,"Anime Series, International TV Shows",Young Levius rises through the ranks in the br...,TV Show,8
48,80159876,Girls und Panzer der Film,Tsutomu Mizushima,"Mai Fuchigami, Ai Kayano, Mami Ozaki, Ikumi Na...",Japan,"November 22, 2019",2015,TV-14,121 min,"Action & Adventure, Anime Features, Internatio...",The girls of Ōarai High must face off against ...,Movie,10
114,80003477,K-On!,NaN,"Aki Toyosaki, Ayana Taketatsu, Chika Fujito, M...",Japan,"January 1, 2011",2010,TV-PG,2 Seasons,"Anime Series, Teen TV Shows",When they're not gorging themselves on sugary ...,TV Show,7
115,80093820,K-on! the movie,Naoko Yamada,"Aki Toyosaki, Yoko Hikasa, Satomi Sato, Minako...",Japan,"November 15, 2019",2011,TV-PG,110 min,Anime Features,The seniors in Sakuragaoka High School's music...,Movie,9
125,70291121,The Garden of Words,Makoto Shinkai,"Miyu Irino, Kana Hanazawa, Fumi Hirano, Takesh...",Japan,"November 15, 2019",2013,TV-14,46 min,"Anime Features, International Movies, Romantic...",When a lonely teenager skips his morning class...,Movie,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5595,80094557,Cyborg 009 VS Devilman,NaN,"Jun Fukuyama, Shintaro Asanuma, Haruka Shirais...",Japan,"April 1, 2016",2015,TV-14,1 Season,"Anime Series, International TV Shows",When a Black Ghost scientist releases newly mo...,TV Show,24
5601,80067942,Terrace House: Boys & Girls in the City,NaN,"You, Reina Triendl, Ryota Yamasato, Yoshimi To...",Japan,"January 1, 2017",2016,TV-14,2 Seasons,"International TV Shows, Reality TV",A new set of six men and women start their liv...,TV Show,7
5613,80016571,Rurouni Kenshin,NaN,"Mayo Suzukaze, Miki Fujitani, Miina Tominaga, ...",Japan,"January 1, 1999",1998,TV-14,3 Seasons,"Anime Series, International TV Shows",A nomadic swordsman arrives at a martial arts ...,TV Show,9
5622,80041089,Your lie in April,NaN,"Natsuki Hanae, Risa Taneda, Ayane Sakura, Ryot...",Japan,"March 1, 2016",2014,TV-PG,1 Season,"Anime Series, International TV Shows, Romantic...","After his mother's death, a piano prodigy's wi...",TV Show,6
5703,80067618,Atelier,NaN,"Mirei Kiritani, Mao Daichi, Wakana Sakai, Masa...",Japan,"December 1, 2015",2015,TV-PG,1 Season,"International TV Shows, TV Dramas","A young ""fabric geek"" lands a job at an upscal...",TV Show,9

In [136]:
import re
months={
    'January':1,
    'February':2,
    'March':3,
    'April':4,
    'May':5,
    'June':6,
    'July':7,
    'August':8,
    'September':9,
    'October':10,
    'November':11,
    'December':12
}
date_r =[]
for i in df_cntryfxd['date_added'].values:
    str1=re.findall('([a-zA-Z]+)\s[0-9]+\,\s[0-9]+',i)
    str2=re.findall('[a-zA-Z]+\s([0-9]+)\,\s[0-9]+',i)
    str3=re.findall('[a-zA-Z]+\s[0-9]+\,\s([0-9]+)',i)
    date='{}-{}-{}'.format(str3[0],months[str1[0]],str2[0])
    date_r.append(date)

In [137]:
df_cntryfxd['date_added_cleaned'] = date_r

In [138]:
df_dtclnd = df_cntryfxd.drop('date_added',axis=1)

In [143]:
df_dtclnd['date_added_cleaned'] = df_dtclnd['date_added_cleaned'].astype('datetime64[ns]')
df_Cleaned = df_dtclnd